#box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  right: 100px;
  /*给父级设置3d空间*/
  transform-style: preserve-3d;
  /*设置景深*/
  /*perspective: 800px;*/
  transform: perspective(8000px) rotateY(-60deg) rotateX(30deg);
}

#box div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
}

/*前面*/
#box div:nth-child(1) {
  background: palegreen;
  transform: translateZ(100px);
}

/*后面*/
#box div:nth-child(2) {
  background: palevioletred;
  transform: translateZ(-100px);
}

/*左面*/
#box div:nth-child(3) {
  background: plum;
  transform: translateX(-100px) rotateY(90deg);
}

/*右面*/
#box div:nth-child(4) {
  background: peru;
  transform: translateX(100px) rotateY(90deg);
}

/*上面*/
#box div:nth-child(5) {
  background: palegoldenrod;
  transform: translateY(-100px) rotateX(90deg);
}

/*下面*/
#box div:nth-child(6) {
  background: paleturquoise;
  transform: translateY(100px) rotateX(90deg);
}

img {
  width: 200px;
  height: 100%;
}
