
/**
 *颜色变量表
 */

// 网站背景
$plw-background: #f0f2f5 !default;
// 网站主色调
$plw-color: #CC9946 !default;
// 错误颜色
$plw-error-color: #de1616 !default;
// 正常颜色
$plw-info-color: #61ce7c !default;
// 警告颜色
$plw-warn-color: #f5a623 !default;


$success-color: #CC9946 !default;
$warning-color: #F5A623 !default;
$error-color: #DE1616 !default;
