<button (click)="showOverlayGlobalPanelCenter()">页面中心显示</button>
<!-- 鼠标移入的时候显示 ng-template对应的内容，移出的时候不显示 -->
<button style="margin-left: 10px" (mouseenter)="showOverlayPanelTemplate()"
(mouseleave)="dismissOverlayPanelTemplate()">
显示 ng-template 内容
</button>
<!-- ng-template overlay 将要显示的内容 -->
<ng-template cdk-portal #overlayGlobalTemplate="cdkPortal">
<p class="template-overlay-pane"> ng-temtortelliniTemplateplate显示 </p>
</ng-template>

 <!-- 依附某个组件或者template显示,鼠标移入的时候显示，移出来的时候不显示 -->
 <button style="margin-left: 10px" #connectComponentOrigin
 (mouseenter)="showOverlayPanelConnectComponent()"
 (mouseleave)="dismissOverlayPanelConnectComponent()">
overlay connect 组件显示
</button>
