<div id="box" #3d (mousedown)="mousedown($event)" [ngStyle]="divStyle">
  <div [ngStyle]="div1"><img src="assets/imgs/1.jpg" draggable="false" /></div>
  <div [ngStyle]="div2"><img src="assets/imgs/2.jpg" draggable="false" /></div>
  <div [ngStyle]="div3"><img src="assets/imgs/3.jpg" draggable="false" /></div>
  <div [ngStyle]="div4"><img src="assets/imgs/4.jpg" draggable="false" /></div>
  <div [ngStyle]="div5"><img src="assets/imgs/5.jpg" draggable="false" /></div>
  <div [ngStyle]="div6"><img src="assets/imgs/6.jpg" draggable="false" /></div>
</div>
