:host ::ng-deep .anticon-retweet {
  &:hover {
    color: aquamarine;
  }
  position: absolute;
  right: 8px;
  color: aqua;
  cursor: pointer;
}
:host ::ng-deep .ant-card-body {
  padding: 0;
}
.container {
  transform-style: preserve-3d;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.flip {
  position: relative;
  transform-style: preserve-3d;
  margin-top: 8px;
}
.front,
.back {
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden; // 隐藏被旋转元素的背面
  width: 150px;
  height: 188px;
}
@keyframes cool {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.front {
  z-index: 2;
  &:hover {
    animation: cool 500ms ease;
    .preview {
      opacity: 1;
    }
  }
}
.front-shadow {
  .preview {
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 12px);
    opacity: 0;
    cursor: pointer;
  }
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden; // 隐藏被旋转元素的背面
  width: 150px;
  height: 188px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3 !important;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
:host ::ng-deep .ant-upload.ant-upload-select-picture-card {
  width: 100%;
  height: 100%;
}
:host ::ng-deep .ant-upload.ant-upload-select-picture-card {
  width: 100%;
  height: 100%;
  > .ant-upload {
  padding: 0;
    img {
      width: 150px;
      height: 188px;
    }
  }
}
