<div [@listAnim]="imgs?imgs.length:''" class="container">
  <div nz-col *ngFor="let img of imgs" class="flip"
    libDrag
    [dragData]="img"
    [draggedClass]="'drag-start'"
    libDrop
    [appDraggable]="true"
    [dropData]="img"
    [dragEnterClass]="'drag-enter'"
    (dropped)="changeOrder($event)">
    <div [@rotate]="img.frontOrBack" class="front">
      <img [src]="img.url" style="height:188px;width:150px;">
      <div class="front-shadow">
        <i class="anticon anticon-retweet" (click)="rotate(img)"></i>
        <span class="preview">
          <i nz-icon type="eye" theme="outline" (click)="preview(modalContent, img)"></i>
          <i nz-icon type="delete" theme="outline" style="margin-left:4px;" (click)="delete(img)"></i>
        </span>
      </div>
    </div>
    <nz-card [@rotate]="img.relativeFrontOrBack" class="back">
      <i class="anticon anticon-retweet" (click)="rotate(img)"></i>
      <p>背后的故事</p>
    </nz-card>
  </div>
  <div nz-col class="flip">
    <div style="width:150px;height:188px">
      <nz-upload [nzListType]="'picture-card'" [nzShowUploadList]="false"
      nzAction="photo/upload/"
      (nzChange)="handleChange($event)"
      nzName="files">
        <i nz-icon type="plus" theme="outline"></i>
        <div class="ant-upload-text">上传</div>
      </nz-upload>
    </div>
  </div>
</div>

<ng-template #modalContent>
  <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
</ng-template>
